*{
    margin: 0;
    padding: 0;
}


/*navbar et sous-menus*/
nav{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #C2C2C2;
    position : sticky;
}



nav ul li a {
    display: block;
    border: 1px solid;
    padding: .5em 1em;
    margin: .5em; 
    text-decoration: none;
    color:black;
}

nav li{
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.sous{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #C2C2C2;
}

.sous a{
    border:none;
    border-bottom-style: solid;
    border-bottom-width: 2px;

}

nav li:hover .sous{
    display:block;
}

.sous li:hover a{
    background-color: #fff;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

#imgLab{
    width: 100px;
    height:50px;
}

