nav{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #C2C2C2;
}

nav ul li a {
    display: block;
    border: 1px solid;
    padding: .5em 1em;
    margin: .5em; 
    text-decoration: none;
    color:black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


#imgLab{
    width: 100px;
    height:50px;
}

